/*--------------------------------------------------------------

 
---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/
.header-main.nav-visible{
    font-size: 13px;
    background:#000;
    position: fixed;
    width: 100%;
    transition: all 0.3s ease;
    top:0;
    margin-top:-20px;
}
.btn-book-now{
	padding: 10px 21px;
	background: #FFFFFF;
	
}
.btn-book-now-bt{
	margin: 0;
	padding: 0;
	background: #AD2124;
	display: none;
}
.btn_calculate{
	border: none;
    padding: 5px 15px;;
    background: #259d08;
    color: #fff;
    font-family: "Merriweather Sans", sans-serif;
	width: 160px;
}
.btn-book{
    border: none;
    padding: 0 8px;
    background: #259d08;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    color: #fff;
    font-family: "Merriweather Sans", sans-serif;
	
}
.green_score{
	
	padding: 0px;
}
.logo-responsive{
    display: block;
    max-width: 50%;
    height: auto;
    margin: 10px 0 0 10px;
}
.modal_btn{
    border: none;
    padding: 8px;
    background: #259d08;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    color: #fff;
    font-family: "Merriweather Sans", sans-serif;
}
