<form id="msform">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Step 1</li>
                <li>Step 2</li>
                <li>Step 3</li>
                <li>Step 4</li>
              
            </ul>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Personal Details</h2>
               	 <input type="button" name="next" class=" action-button" value="Report Download"/> 
                 <input type="button" name="next" class="next action-button" value="Online Booking"/>
			    </fieldset>
                <fieldset class="current">
                                            <label  for="mobile">Mobile No.</label>
                                            <input type="tel" minlength="10" class="required">                       
                                            <label for="email">Email Address</label>
                                            <input type="email" minlength="10" class="required">
                                             <label  for="password">Password</label>
                                            <input type="password" id="password" class="required">
                                            <label  for="repassword">Retype Password</label>
                                            <input type="password" id="repassword" class="required">
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
              <fieldset class="next back">
                                             <label for="name">Name:</label>
                                            <input name="name" type="email" class="required email" />
                                            <label for="address">Address</label>
                                            <input name="address" type="text">
                                            <label for="city">City</label>
                                            <input name="city" type="text">
                                             <label for="pincoad">Pincoad</label>
                                            <input name="pincoad" maxlength="6" type="text">
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
             <fieldset class="next back">
                                            <div class="col-md-8 cal-xs-12">
                                                <div class="form-group ">
                                                    <label for="text">Chose Your Trash</label>
                                                    <select class="form-control">
                                                       <option> Chose Your Category </option>
                                                        <option>Category one </option>
                                                        <option>Category two</option>
                                                        <option>Bussiness three</option>
                                                    </select>
                                                </div>
                                                <div class="form-group ">
                                                  
                                                    <select class="form-control">
                                                       <option> Chose Your Category </option>
                                                        <option>Category one </option>
                                                        <option>Category two</option>
                                                        <option>Bussiness three</option>
                                                    </select>
                                                </div>
                                                <div class="form-group ">
                                                    
                                                    <select class="form-control">
                                                       <option> Chose Your Category </option>
                                                        <option>Category one </option>
                                                        <option>Category two</option>
                                                        <option>Bussiness three</option>
                                                    </select>
                                                </div>
                                                <div class="form-group ">
                                                   
                                                    <select class="form-control">
                                                       <option> Chose Your Category </option>
                                                        <option>Category one </option>
                                                        <option>Category two</option>
                                                        <option>Bussiness three</option>
                                                    </select>
                                                </div>
                                                <div class="form-group ">
                                                   
                                                    <select class="form-control">
                                                       <option> Chose Your Category </option>
                                                        <option>Category one </option>
                                                        <option>Category two</option>
                                                        <option>Bussiness three</option>
                                                    </select>
                                                </div>
                                           </div>
                                            <div class="col-md-4 cal-xs-12">
                                                <label for="waight">waight:</label>
                                                <input name="waight" type="text" placeholder="(Apprx)" />
                                           </div>
                                           <div class="col-md-4 cal-xs-12">
                                                
                                                <input name="waight" type="text"  placeholder="(Apprx)"/>
                                           </div>
                                           <div class="col-md-4 cal-xs-12">
                                              
                                                <input name="waight" type="text" placeholder="(Apprx)" />
                                           </div>
                                           <div class="col-md-4 cal-xs-12">
                                               
                                                <input name="waight" type="text" placeholder="(Apprx)" />
                                           </div>
                                           <div class="col-md-4 cal-xs-12">
                                               
                                                <input name="waight" type="text" placeholder="(Apprx)" />
                                           </div>
              <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next" class="next action-button" value="Submit"/>
            </fieldset>
             <fieldset class="next back">
                                            <p>Sell Or Donet<br>
                                              <input type="radio" name="newsletter" ><label for="newsletter">Sell</label>
                                              <input type="radio" name="newsletter" ><label for="newsletter">Donet</label>
                                            </p>
                                             <label for="name">Your Total Earn(apprx):</label>
                                            <input name="earn" type="text" />
                                            <label for="gscore">Your Green Score:</label>
                                            <input name="gscore" type="text" />
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next" class="next action-button" value="Submit"/>
            </fieldset>
           
            
        </form>