@charset "utf-8";
/* CSS Document */



.multi-stape-input {
    position: absolute;
    content: '';
    background:#fff;
    min-height: 430px;
    top: 13%;
    left: 7%;
    z-index: 1;
	margin-top: 150px;
  -webkit-box-shadow: -2px 2px 59px -26px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 2px 59px -26px rgba(0,0,0,0.75);
box-shadow: -2px 2px 59px -26px rgba(0,0,0,0.75);
}
.multi-stape-input_login{
  position: relative;
  left: 80px;
   max-width: 344px;
    background:#fff;
    min-height: 430px;
  -webkit-box-shadow: -2px 2px 59px -26px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 2px 59px -26px rgba(0,0,0,0.75);
  box-shadow: -2px 2px 59px -26px rgba(0,0,0,0.75);
}
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:700);
#signup {
  width: 317px;
  height: auto;
  padding-top: 20px;
  background: #fff;
  position: relative;
  min-height: 400px;
  border-top: 1px solid #259d08;
}
#fieldsets {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="date"], textarea {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 8px;
  margin-bottom: 8px;
  position: relative;
  background-color: #fff;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="tel"]:focus,input[type="date"]:focus, textarea:focus {
  outline: none;
  border: 1px solid #22918b;
}
input[type="radio"] {
  margin: 6px;
  display: inline-block;
}
fieldset {
  border: none;
  position: absolute;
  left: -300px;
  width: 300px;
  padding: 10px 0;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  opacity: 0;
}
fieldset.current {
  left: 20px;
  opacity: 1;
}
fieldset.next {
  left: 300px;
}
input[type="submit"] {
  display: none;
  border: none;
}
#section-tabs {
  font-size: 0.8em;
  height: 80px;
  position: relative;
  margin-top: -71px;
  padding: 0;
  font-weight: bold;
  list-style: none;
  text-transform: uppercase;
	
	max-width: 320px;
}
#section-tabs li {
  color: #a7a7a7;
  cursor: not-allowed;
  border-left: 1px solid #aaa;
  text-decoration: none;
  padding: 10px 10px;
  float: left;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  background: #ddd;
  position: relative;
}
#section-tabs li span {
  color: #bababa;
}
#section-tabs li.active {
  color: #fff;
  cursor: pointer;
}
#section-tabs li:after {
  content: "";
  display: block;
  margin-left: 0;
  position: absolute;
  left: 0;
  top: 0;
}
#section-tabs li.current {
  opacity: 1;
  background: #259d08;
  z-index: 999;
  border-left: none;
}
/*
#section-tabs li.current:after {
  border: 15px solid transparent;
  border-left: 15px solid #2cbab2;
}
*/
.error {
  color: #bf2424;
  display: block;
}
input.error, textarea.error {
  border-color: #bf2424;
}
input.error:focus, textarea.error:focus {
  border-color: #bf2424;
}
label.error {
  margin-bottom: 20px;
}
input.valid {
  color: green;
}
label.valid {
  position: absolute;
  right: 20px;
}
input + .valid, textarea + .valid {
  display: none;
}
.valid + .valid {
  display: inline;
  position: absolute;
  right: 10px;
  margin-top: -36px;
  color: green;
}
.btn {
  border: none;
  padding: 8px;
  background: #259d08;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  color: #fff;
  position: absolute;
  bottom: 20px;
  right: 10px;
  font-family: "Merriweather Sans", sans-serif;
  border-radius: 0px !important;
}
.btn_back {
  border: none;
  padding: 8px;
  background: #259d08;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 10px;
  font-family: "Merriweather Sans", sans-serif;
}
.btn:hover {
  background: #259d08;
	color: #fff;
}
.nav-tabs>li>a{
    border-radius: 0px !important;
    margin:0px !important;
        padding: 10px 18px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
        color: #fff;
    background-color: #259d08;
     border: 1px solid #259d08; 
    border-bottom-color: #259d08;
    cursor: default;
}
.nav-tabs>li{
        float: left;
    /* margin-bottom: -1px; */
    background: #dadada;
}
/*--------------------
input greenscore
-------------------*/



