@charset "utf-8";
/* CSS Document */

.top-header{
	margin: 0px;
	padding: 0px 90px 0 0;
	height: auto;
}
.topheader_backgraund{
	height: auto;
	min-height: 80px;
	background: #FFFFFF;
}
.top_header_media {
	height: 25px;
	width: 25px;
	float: left;
	display: inline;
	margin-left: 10px;
	
}
.social-media{
	margin:0;
	padding: 0;
	float: right;
}
.social-media ul{
	list-style: none;
}
.social-media ul li{
	margin-left: 10px;
    margin-top: 12px;
    display: inline-flex;
}
.social-media .icon{
	display: flex;
	margin:0;
	padding: 0;
}
.social-media .icon ul{
	display:flex;
	list-style: none;
}
.social-media .icon ul>li{
	margin-left: 10px;
    margin-top: 12px;
    width: 25px;
    height: 25px;
    margin-left: 15px;
}
.social-media .call-us{
	display: inline-block;
}
.social-media .call-us img{
	height: 25px;
	width: 25px;
	float: left;
	display: inline;
	margin-right: 10px;
	
}
.social-media .call{
	color: #259d08;
	font-weight: 600;
	margin-top: 12px;
	font-size: 20px;
	
	
}
.social-media .call p {
	display: inline;
	color: #259d08;
	font-size: 15px;
}

/*responsive*/

/* -----------------------------------
Template:  Theme Name

NOTE: This is Header style file. All Header related style included in this file.

--------------------------------------*/

.header-social ul li {
  margin-left: 65px;
  margin-top: 12px;
	display: inline-block;
}
.header-social ul li span i {
  border: 1px solid #619d09;
  border-radius: 100px;
  color: #619d09;
  float: left;
  font-size: 26px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 45px;
  transition:.4s;
}
.header-social .scl-adrs {
  display: block;
  margin-left: 62px;
  overflow: hidden;
}
.scl-adrs h5 {
  color: #5e5e5e;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 5px;
}
.scl-adrs h6 {
  color: #737373;
  font-family: lato;
  font-weight: 700;
  margin: 0;
}
.header-social ul li:hover span i{background:#619d09;color:#fff;}
.header-top-area{
	min-height: 70px;
}